body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: rgba(10, 54, 65, 0.78);
    color: white;
    height:fit-content;
    font-size:x-large;
    vertical-align:bottom;
}
hr{
    height:5px;
    background-color: rgba(10, 54, 65, 0.78);
}
h2{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size:larger;
}
h3{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size:medium;
}
a {
    color: inherit;
    text-decoration: none;
}
ul {
    margin-left: 10%;
    margin-right: 10%;
    list-style-type: none;
    vertical-align: middle;
}
#menu li{
    margin: 5px;
    display: inline;
    vertical-align: middle;
    
}
#searchbar  {
    float: right;
    background-color: rgba(252, 122, 116,1);
    font-size: large;
    width: 30%;
    filter: invert();
    
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: lighter;
}

#hovereffect img:hover{
filter: blur(1px);
}

#borders img{
    border:1px solid black;
}


@media only screen and (max-width: 768px) {
    .shippingtext1{
        display: none;
    }
    .banner{
        display:grid;
        grid-template-columns: 50% 50%;
    }
    .footer{
        display:grid;
        grid-template-columns: 100%;
    }
    .Mainmenu{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        display:grid;
        grid-template-columns: 100%;
        grid-row-gap: 20px;
    }

    .Mensjacketsmenu{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-row-gap: 20px;
    }

    .jacketpage{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        display:grid;
        grid-template-columns: 100%;
        grid-row-gap: 20px;
    }
    .checkout{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        display:grid;
        grid-template-columns: 100%;
        grid-row-gap: 20px;
    }

    #about p {
        margin-left: 10%;
        margin-right: 10%;
        font-family: Arial, Helvetica, sans-serif;
    }
    #Sortby li{
        padding: 8px;
        display: inline;
        vertical-align:text-bottom;
        text-align: center;
        font-size: small;
    }
}

@media only screen and (min-width: 769px) or (orientation: portrait) {
    .shippingtext2{
        display: none;
    }
    .banner{
        display:grid;
        grid-template-columns: 33% 33% 33%;
    }
    .footer{
        display:grid;
        grid-template-columns: 67% 33%;
    }
    .Mainmenu{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-row-gap: 40px;
    }
    .Mensjacketsmenu{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        display:grid;
        grid-template-columns: 33% 33% 33%;
        grid-row-gap: 40px;
    }
    .jacketpage{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        display:grid;
        grid-template-columns: 60% 40%;
        grid-row-gap: 40px;
    }
    .checkout{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        display:grid;
        grid-template-columns: 40% 60%;
        grid-column-gap: 40px;
        grid-auto-flow: dense;
  
    }

    #about p {
        margin-left: 30%;
        margin-right: 30%;
        font-family: Arial, Helvetica, sans-serif;
    }
    #Sortby li{
        padding: 20px;
        display: inline;
        vertical-align:text-bottom;
        text-align: center;
        font-size:medium;
    }
}


/* this is code borrowed from https://css-tricks.com/can-get-pretty-far-making-slider-just-html-css/ to help create a slider */ 
.slider {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display:flex;
    overflow-x:scroll;
    
  }
  .slide {
    width: 30%;
    flex-shrink: 0;
    height: 100%;
  }
  