body{
    font-family: Arial, Helvetica, sans-serif;
}
.sitelogo{
    text-align:center;
    max-width: 300px;
}
.icons{
    text-align: right;
}
.icons img{
    height: 100%;
    max-height: 35px;
}
nav{
    background-color: rgba(10, 54, 65, 0.78);
    color: white;
    height:min-content;
    font-size:large;
    vertical-align:center;
    display:flex;
    flex-direction: column;
}
hr{
    height:5px;
    background-color: rgba(10, 54, 65, 0.78);
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vw;
    font-weight: lighter;
}
h2{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size:2.5vw;
    font-weight: bold;
}
h3{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size:2vw;
}
p{
    font-size: 1.5vw;
}
a {
    color: inherit;
    text-decoration: none;
}
ul {
    margin-left: 10%;
    margin-right: 10%;
    list-style-type: none;
    vertical-align: middle;
}
.menu{
    border: 5px solid  rgba(10, 54, 65, 0.0);
}
.menu li{
    margin: 5px;
    display: inline;
    vertical-align: middle;
    
}
.searchbar  {
    float: right;
    background-color: rgba(252, 122, 116,1);
    font-size: large;
    width: 30%;
    min-width: 100px;
    filter: invert();   
}

.hovereffect img:hover{
filter:grayscale();
}
.borders img{
    border:1px solid black;
}
.text-center{
    text-align:center ;
}

.thinline{
    height: 1px; 
    width:90%;
}
.border{
    border: 1px solid black;
}
.halfwidth{
    width: 50%;
}

.CO-input-full{
    width:95%
}
.CO-input-left{
    width:45%; 
    margin-right: 3%;
}
.CO-input-right{
    width:45%
}

.bothmargin35{
    margin-left:35% ;
    margin-right:35% ;
}
.margin45{
    margin-left:45% ;
}

.default-alignment {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    text-align: center;
}
.default-alignment img{
    min-width:50px;
    width: 10%;
}

.purchase-success h3{
    font-weight:bold; 
    border: 1px solid black;
}
.purchase-success span{
    float: right;
}

.shippingtext1{
    vertical-align:top;
}
.shippingtext2{
    display: none;
}
.banner{
    display:grid;
    grid-template-columns: 33% 33% 33%;
}
footer{
    display:grid;
    grid-template-columns: 67% 33%;
}
.Mainmenu{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 10%;
    margin-bottom: 10%;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 20px;
    text-align: center;
}
.Mensjacketsmenu{
    margin-top: 10%;
    margin-bottom: 10%;
    display:inline-flex;
    flex-flow: wrap;
    grid-row-gap: 40px;
    text-align: center;
}
.jacketpage{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
    display:grid;
    grid-template-columns: 60% 40%;
    grid-row-gap: 40px;
}
.checkout{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
    display:grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 40px;
    grid-auto-flow: dense;

}
.checkout form{
    margin-left: 10%; 
    margin-right: 10%; 
    width: 80%;
}
.purchase-success{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
    display:grid;
    grid-template-columns: 20% 50%;
    grid-column-gap: 30%;
}

.about p {
    margin-left: 30%;
    margin-right: 30%;
    font-family: Arial, Helvetica, sans-serif;
}
.Sortby li{
    padding: 20px;
    display: inline;
    vertical-align:text-bottom;
    text-align: center;
    font-size:medium;
    text-align: center;
}

@media only screen and (min-device-width: 300px) and (max-width: 812px) {
    h1{
        font-size: 6vw;
    }
    h2{
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 100;
        font-size:5vw;
        font-weight: bold;
    }
    h3{
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 100;
        font-size:4vw;
    }
    p{
        font-size: 3vw;
    }
    .shippingtext1{
        display: none;
    }
    .shippingtext2{
        vertical-align:top; 
        text-align: center;
    }
    .banner{
        display:flex;
        flex-direction: column;
    }
    footer{
        display:flex;
        flex-direction: column;
    }
    .Mainmenu{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 80%;
        display:flex;
        flex-direction: column;
        grid-row-gap: 20px;
        text-align: center;
    }

    .Mensjacketsmenu{
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 10%;
        margin-bottom: 10%;
        display:inline-flex;
        flex-direction: column;
        grid-row-gap: 20px;
        text-align: center;
    }
    .Mensjacketsmenu img{
        min-width: 100px;
    }
    .jacketpage{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 80%;
        display:flex;
        flex-direction: column;
        grid-row-gap: 20px;
    }
    .checkout{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 80%;
        display:flex;
        flex-direction: column;
        grid-row-gap: 20px;
    }
    .checkout form{
        margin-left: 10%; 
        margin-right: 10%; 
        width: 80%;
    }
    .checkout img{
        width:90%; 
        max-width:250px;
    }
    .purchase-success{
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 60%;
        display:flex;
        flex-direction: column;
        grid-row-gap: 20px;
    }

    .about p {
        margin-left: 10%;
        margin-right: 10%;
        font-family: Arial, Helvetica, sans-serif;
    }
    .Sortby li{
        padding: 8px;
        display: inline;
        vertical-align:text-bottom;
        text-align: center;
        font-size: small;
        text-align: center;
    }
}





/* this is code borrowed from https://css-tricks.com/can-get-pretty-far-making-slider-just-html-css/ to help create a slider */ 
.slider {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
    display:flex;
    overflow-x:scroll;
  }
  .slide {
    min-width: 150px;
    width: 30%;
    flex-shrink: 0;
    height: 100%;
    
  }
  .slide img{
    margin-left: 10%;
    text-align: center;
  }
  .slide p{
    margin-left: 20%;
  }
  